body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-image: url(http://images3.alphacoders.com/233/233659.jpg)
}

#game-screen{
    display: block;
}
#gameOver{
    position: absolute;
    visibility: hidden;
}

h1, h3{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

.title{
    font-size: 65px;
    margin-bottom: 0px;
}

#restartButton{
    border: 2px solid black;
    border-radius: 10px;
}

#restartButton:hover{
    background-color: #990099;
}

div {
   paddding: 20px;
   border-width: 5px;
}